* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
hmtl {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    background-image: linear-gradient(to right, rgb(21, 200, 21), rgb(2, 77, 2));
}
.container-cover {
    margin: 5rem auto;
    text-align: center;
    border: .1rem rgb(196, 219, 219) dotted;
    width: 40%;
    height: 60vh;
}
h1 {
    font-size: 5rem;
    padding: 3rem 2rem;
    background-image: linear-gradient(to left, gold, rgba(255, 166, 0, 0.867));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#message {
    color: rgb(196, 219, 219);
    font-weight: light;
}
#card, #sum {
    color: rgb(196, 219, 219);
}
button {
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: 40%;
    padding: .4rem;
    border-radius: .2rem;
    border: none;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.867), gold);
    color: rgb(2, 73, 2);
    outline: none;
}
.price {
    font-weight: bolder;
    font-size: 1.3rem;
}